.message {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  max-width: $max-width;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  transition: all 0.2s;
  * {
    transition: all 0.2s;
  }
  a {
    margin: 0 6px;
    margin-left: auto;
  }
  #to_top {
    width: 0px;
    height: 0px;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    margin: 0px;
  }

  &.open {
    bottom: 15%;
    #to_top {
      width: 40px;
      height: 40px;
      opacity: 1;
      z-index: inherit;
      margin: 0 6px;
    }
  }
}
